:root {
/*  */
--variable:#000000;
}

body {
    background-color: black;
    color: white;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#nav-container {
    height: 100px;
    overflow-y: visible;
    order: 2;
    z-index: 3;
}
nav {
    height: 100px;
    background-color: black;
    position: relative;
    transition: background-color 5s, visibility 5s;
    visibility: hidden;
    
    
} 
nav img {
    filter: invert(100%);
    transition: filter 5ss;
}

.nav-border {
    border-top: 5px dashed white;
    width: 80vw;
    display: block;
}

.nav-spacer {
    flex: 0 0 100px;
}

#testing1 {
display: flex;
flex-direction: column;

}

#section-home, #section-skills, #section-projects, #section-contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#toptop {
    flex: 0 0 100px;
}

#content-top {
    flex:auto;
}

#content-bottom {
    flex:70%
}

#contact-bottom {
    flex:100%;   
}

#contact-image {
    background-image: url("../images/Hero3.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;

    transition: filter 2s;
}

#contact-image h2 {
    display: inline-block;
    left: -10%;
    position: relative;
    font-size: 100px;
}

#contact-container {
    margin: 0 !important; 
    padding: 5% 4% 5% 8%;
}


#title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-container h1 {
    font-size: 7.5vw;
}

#page-title-name {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 8vw;
}

#name-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#name-bottom {
    font-size: 1.5vw;
    text-align: center;
}

#name-top{
    font-size: 3vw;
}

#hero-container {
    margin: 0 !important;
}

#hero-image {
    filter: grayscale(100%);
    background-image: url("../images/Hero1.png");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    transition: filter 2s;
}

#hero-image:hover {
    filter: grayscale(0%);
}

hr {
    border-top: 2px dashed white;
    width: 80vw;
    margin-top:50px;
}

#skills-top, #skills-middle, #skills-bottom {
    flex: 1;
    height: 33%;
}

#skills-container, #projects-container{
    flex: 1 1 auto;
}

#skills-text {
    height: 100%;
    flex: 1 1 auto;
}
.side-heading {
    font-size: 100px;
    writing-mode: vertical-lr;
}

#projects-content {
    min-height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

 /* .card-img-top {
    max-width: 100%;
    height: 60%;
    object-fit: cover;
} */

.project-icons {
    float: right;
}

.card img {
    width: 100%;
    max-height: 60%;
    object-fit: cover;
}

.card-body {
    color: #000000;
}

.language-box {
    background-color: black;
    color: white;
    display:inline;
    padding: 4px;
}

.card-container {
    height: 40vh;
    padding: 0 15px;
}

#project-cards {
    flex:50%;
    align-items: center;
}

/*
#projects-1
{
    flex:1 1 auto;
    max-height: 10%;
} */


/* .cd1 {
    min-height: 100%;
}

.carousel-item > img {
    background-size: cover;
    background-position: center;
}

.carousel-inner > .item > img {
    width:100%;
    height:100%;
    background-size: cover;
    background-position: center;

  } */

@media only screen and (max-width: 992px) {

    .blank {
        max-height: 0px;
    }

    #hero-container {
        height: 100%;
    }

    #content-top {
        padding: 3% 0;
    }

    .side-heading {
        writing-mode:unset;
    }

    .section-heading {
        height:100px;
        display: flex;
        justify-content: center;
    }
    /* #content-top {
        flex-grow:2;
    }
    
    #content-bottom {
        flex-grow: 2;
    } */
}

/* fsfgsg */

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    background-color: white;
    transition: background-color 5s;
    visibility: unset;
}

.fixed-header-img {
    filter: invert(0%);
    transition: filter 5s;
}

.fixed-header-reverse {
    background-color: black;
    transition: background-color 5s, visibility 5s;
    visibility: hidden;

}

.visible-title {
    visibility: visible;
}

#testingimg {
    background-image: url("../images/Hero1.png");
    background-size: cover;
    background-position: center;
 
    min-height: 60%;
    width: 100%;
}


/* nav {
    width: 100%;
    height: 60px;
    background: #292f36;
    position: fixed;
    z-index: 10;
}

nav div {
    color: white;
    font-size: 2rem;
    line-height: 60px;
    position: absolute;
    top: 0;
    left: 2%;
    visibility: hidden;
} */