/* Body, main and layout */

body {
    background-color: black;
    color: white;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#section-home,
#section-skills,
#section-projects,
#section-contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Reusable universal classes */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-on-hover {
    filter: grayscale(100%);
    transition: filter 2s;
}

.color-on-hover:hover {
    filter: grayscale(0%);
}

hr {
    border-top: 2px dashed white;
    width: 80vw;
    margin-top: 50px;
}


/* Text */

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.side-heading {
    font-size: 100px;
    writing-mode: vertical-lr;
}

#title-container h1 {
    font-size: 7.5vw;
}

.main-text {
    font-size: 1.5vw;
}





/* Nav Section */

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    transition: background-color 5s;
    visibility: unset;
}

.fixed-header-img {
    filter: invert(0%);
    transition: filter 5s;
}

.fixed-header-reverse {
    background-color: black;
    transition: background-color 5s, visibility 5s;
    visibility: hidden;
}

#nav-container {
    height: 100px;
    order: 2;
    z-index: 3;
}

nav {
    height: 100px;
    background-color: black;
    position: relative;
    transition: background-color 5s, visibility 5s;
    visibility: hidden;
}

nav img {
    filter: invert(100%);
    transition: filter 5ss;
    height: 100px;
    width: 100px;
}

.nav-border {
    border-top: 5px dashed white;
    width: 80vw;
    display: block;
}

.nav-spacer {
    flex: 0 0 100px;
}

/* Home Page */

#page-title-name {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 8vw;
}

#name-top {
    font-size: 3vw;
}

#hero-container {
    margin: 0 !important;
}

#hero-image {
    background-image: url("../images/Hero1.png");
    background-size: cover;
    background-position: center;

    height: 100%;
    width: 100%;
}

#content-bottom {
    flex: 70%
}

/* Skills Section */

.skills-background {
    background-size: cover;
    background-position: center;
    margin: 1% 1%;
}

#skills-top,
#skills-middle,
#skills-bottom {
    flex: 1;
    height: 31.33333%;
}

#skills-top {
    background-image: url("../images/keyboard-hero.png");
}

#skills-middle {
    background-image: url("../images/camera-hero.jpg");
}

#skills-bottom {
    background-image: url("../images/future-hero.jpg");
}

.skill-card {
    height: 90%;
    min-width: 30%;
    margin: 1% 5%;
    opacity: 0.9;
    font-size: 2vh;
}

.skill-title {
    font-size: 3vh;
    padding-bottom: 10px;
}

#skills-container,
#projects-container {
    flex: 1 1 auto;
}

#skills-text {
    display: flex;
    flex-direction: column;
}

/* Projects Section */

#projects-content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Project Cards */

#project-cards {
    flex: 50%;
    align-items: center;
}

.card-container {
    height: 40vh;
    padding: 0 15px;
}

.card img {
    width: 100%;
    max-height: 60%;
    object-fit: cover;
}

.card-body {
    color: #000000;
}

.project-icons {
    float: right;
}


/* Contact Section */

#contact-bottom {
    flex: 100%;
}

#contact-image {
    background-image: url("../images/Hero3.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;

    transition: filter 2s;
}

#contact-image h2 {
    display: inline-block;
    left: -10%;
    position: relative;
    font-size: 100px;
}

#contact-container {
    margin: 0 !important;
    padding: 5% 4% 5% 8%;
}

#contact-details div {
    padding: 15px 0;
}

#contact-details h3 {
    padding-bottom: 10px;
}

#contact-details a {
    color: white;
    transition: color 1s;
}

#contact-details a:hover {
    color: #19b0eb;
}

#contact-text {
    text-align: right;
}

/* Footer */

footer {
    height: 100px;
    background-color: white;
    color: black;
}

footer button {
    margin: 0 10px;
}

footer p {
    margin: 0 10px;
}

footer p a {
    transition: font-size 4s;
    text-decoration: underline;
    color: #007bff;
}

footer p a:hover {
    font-size: 40px;
    text-decoration: none;
}

/* Media Queries for content adjustment on different screen sizes */

@media only screen and (max-width: 1440px) {

    .side-heading {
        font-size: 7vw;
    }
}

@media only screen and (max-width: 992px) {

    #hero-container {
        height: 100%;
    }

    #content-top {
        flex: auto;
        padding: 3% 0;
    }

    .side-heading {
        writing-mode: unset;
        font-size: 60px !important;
    }

    .section-heading {
        height: 100px;
        display: flex;
        justify-content: center;
    }

    .main-text {
        font-size: 18px;
    }

    #name-top {
        font-size: 50px;
    }

    #contact-text {
        color: black;
        font-weight: 700;
    }

    #section-projects {
        height: 100%;
    }

    #welcome-text {
        position: absolute;
    }

    .card-container {
        padding: 15px 30px;
    }

    #content-bottom {
        flex-grow: 2;
    }
}

@media only screen and (max-width: 768px) {

    #home-link {
        display: none;
    }

    nav img {
        height: 50px;
        width: 50px;
    }
}