:root {

}

body {
    background-color: black;
    color: white;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container-fluid {

    height: 100vh;
    display: flex;
    flex-direction: column;
}

#toptop {
    flex:17%;
}

#content-top {
    flex:13%
}

#content-bottom {
    flex:70%
}

#title-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#title-container h1 {
    font-size: 7.5vw;
}

#page-title-name {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 8vw;
}

#name-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#name-bottom {
    font-size: 1.5vw;
    text-align: center;
}

#name-top{
    font-size: 3vw;
}

#hero-container {
    margin: 0 !important;
}

#hero-image {
    background-image: url("../images/Hero1.png");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}